input {
    width: 100%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    text-align: right;
    margin-bottom: 5px;
    line-height: 1.5;
    align-self: flex-end;
}

::-webkit-input-placeholder {
    font-size: 1.1em;
}

::-moz-placeholder {
    font-size: 1.1em;
}

:-ms-input-placeholder {
    font-size: 1.1em;
}

::placeholder {
    font-size: 1.1em;
}

input:focus {
    border-color: green;
}

input:invalid {
    border-color: red;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 1.7em;
}

form button {
    display: block;
    text-align: right;
    border: none;
    background: none;
    align-self: flex-end;
    cursor: pointer;
    font-size: 1.1em;
}

.inline-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.inline-form input{
    width: 10vw; 
    text-align: center; 
    margin: 15px;
}

.inline-form button{
    width: 10vw; 
    text-align: center; 
    margin: 15px 0px;
}