nav {
    display: flex;
    height: 10vh;
}

nav img {
    align-self: flex-end;
    height: 4vh;
    margin: 3vh 5vh;
    cursor: crosshair;
}

nav button {
    text-align: right;
    border: none;
    background: none;
    align-self: flex-end;
    font-size: 1.3em;
    color: blue;
    cursor: pointer;
}

.logout {
    margin: 2.5vh 5vh;
}