[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
djangorestframework = "*"
"bs4" = "*"
lxml = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
celery = "*"
redis = "*"
django-redis = "*"
gunicorn = "*"
"psycopg2" = "*"
django-celery-beat = "*"
django-celery = "*"

[dev-packages]
httpie = "*"

[requires]
python_version = "3.6"
